html, body {
  height: 100%;
}

div.container {
  width: 740px;
}

div.panel-body {
  display: flex;
  flex-direction: column;
}

#voximplant_container {
  width: 650px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

#log {
  margin: 20px;
  text-align: left;
  font-size: 70%;
  font-family: Monospace;
}

#controls {
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#controls div.input-group {
  float: none;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#controls button {
  float: none;
  height: 45px;
}

#voximplantlocalvideo {
  float: left;
  width: 320px;
  height: 240px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

/*rewrite styles*/

#block-education-classroom-classroom-video {
  float: left;
  width: 27%;
}

#block-education-classroom-classroom-video #video-content {
  float: left;
}

#block-education-classroom-classroom-video #voximplant_container {
  width: 100%;
}

#block-education-classroom-classroom-video #controls {
  width: auto;
}

#block-education-classroom-classroom-video .btn-group-justified {
  display: table;
  width: auto;
}

.page-classroom #block-system-main {
  float: left;
}

.page-classroom .field-name-field-current-editor-uid {
  display: none;
}

/*temp*/
#shareButton {
  display: none;
}

#voximplant_container audio {
  height: 15px !important;
}
